ariadne==0.7.0
astroid==2.3.3
Click==7.0
Flask==1.1.1
GraphQL-core-next==1.1.1
h11==0.8.1
httptools==0.0.13
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pylint==2.4.4
python-multipart==0.0.5
six==1.13.0
starlette==0.12.13
typed-ast==1.4.0
typing-extensions==3.7.4.1
uvicorn==0.10.8
uvloop==0.14.0
websockets==8.1
Werkzeug==0.16.0
wrapt==1.11.2
